.container {
    width: 500px;
    background-color: aqua;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}
.line {
    width: 100%;
    color: darkgray;
    background-color: 423F3E;
    padding: 10px 0px;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-end-end-radius: 20px;
    font-size: 20px;
    margin-bottom: 15px;
}
.size {
    width: 40px;
}
.text {
    font-weight: bold;
    position: relative;
    display: inline-block;
    padding: 10px;
}
hr {
    color: black;
    size: 5px;
}
button {
    margin: 15px 5px;
    border-radius: 25px;
    padding: 5px;
    
}