body {
    border: 0px;
    background-color: #171010;
    margin: 0px;
}

.line {
    width: 100%;
    height: 20px;
    background-color: #423F3E;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-weight: bold;
    color: white;
}

.container {
    width: 260px;
    background-color: aqua;
    padding: 15px;
    margin-left: 40%;
    margin-right: auto;
    background-color: #423F3E;
    border-radius: 20px;
}
.judul {
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

hr {
    height: 3px;
    background-color: white;
    border: 0px;
    margin-bottom: 30px;
}

.kirim {
    margin-top: 10px;
    margin-left: 130%;
    color: #171010;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    padding: 6px;
    width: 70px;
    background-color: aqua;
    text-decoration: none;
}

.kirim:hover {
    outline: rgb(39, 224, 39) solid 2px;
    background-color: rgb(39, 224, 39);
}
.box {
    width: 100%;
    height: 25px;
    padding: 2px;
}

.putih {
    color: white;
}

td {
    padding-bottom: 10px;
}